## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_to_load = "../Weather_Database/WeatherPy_Database.csv"
#city_data_to_load = os.path.join("world_weather_analysis", "Weather_Database", "WeatherPy_Database.csv")
city_data_df = pd.read_csv(city_data_to_load)
city_data_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.08,-159.32,78.80,88,40,8.05,NaN
1,1,Barrow,US,71.29,-156.79,30.20,86,90,23.04,NaN
2,2,Punta Arenas,CL,-53.15,-70.92,59.00,51,75,21.92,NaN
3,3,Atuona,PF,-9.80,-139.03,77.61,73,88,15.93,NaN
4,4,Jamestown,US,42.10,-79.24,66.99,42,1,9.17,NaN
...,...,...,...,...,...,...,...,...,...,...
2067,2067,Buta,CD,2.79,24.73,71.85,96,100,1.16,light rain
2068,2068,Peace River,CA,56.25,-117.29,17.60,72,75,12.75,broken clouds
2069,2069,Road Town,VG,18.42,-64.62,84.20,74,40,10.29,scattered clouds
2070,2070,Zeya,RU,53.75,127.27,16.30,85,92,6.60,overcast clouds
2071,2071,Baijiantan,CN,45.63,85.18,34.72,76,0,0.25,clear sky

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [6]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Kapaa,US,22.08,-159.32,78.80,88,40,8.05,NaN
3,3,Atuona,PF,-9.80,-139.03,77.61,73,88,15.93,NaN
6,6,Hamilton,US,39.18,-84.53,73.00,37,1,5.82,NaN
7,7,Vaini,TO,-21.20,-175.20,71.60,88,20,5.82,NaN
12,12,Bethel,US,41.37,-73.41,73.99,35,1,8.05,NaN
15,15,Ndola,ZM,-12.96,28.64,75.33,24,96,7.23,NaN
24,24,Puerto Ayora,EC,-0.74,-90.35,77.00,65,40,18.34,NaN
25,25,Saint-Philippe,RE,-21.36,55.77,73.40,78,75,17.22,NaN
26,26,Torrington,US,41.80,-73.12,72.00,46,1,3.00,NaN
27,27,Ranong,TH,9.97,98.63,77.20,87,18,4.23,NaN

In [ ]:
# 4a. Determine if there are any empty rows.

In [9]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.
preferredclean_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferredclean_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
690,690,Kapaa,US,22.08,-159.32,78.80,88,40,8.05,light rain
693,693,Atuona,PF,-9.80,-139.03,77.61,73,88,15.93,overcast clouds
696,696,Hamilton,US,39.18,-84.53,73.00,37,1,5.82,clear sky
697,697,Vaini,TO,-21.20,-175.20,71.60,88,20,5.82,few clouds
702,702,Bethel,US,41.37,-73.41,73.99,35,1,8.05,clear sky
705,705,Ndola,ZM,-12.96,28.64,75.33,24,96,7.23,overcast clouds
714,714,Puerto Ayora,EC,-0.74,-90.35,77.00,65,40,18.34,scattered clouds
715,715,Saint-Philippe,RE,-21.36,55.77,73.40,78,75,16.11,broken clouds
716,716,Torrington,US,41.80,-73.12,72.00,48,1,1.99,clear sky
717,717,Ranong,TH,9.97,98.63,77.20,87,18,4.23,few clouds

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferredclean_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
690,Kapaa,US,78.80,light rain,22.08,-159.32,
693,Atuona,PF,77.61,overcast clouds,-9.80,-139.03,
696,Hamilton,US,73.00,clear sky,39.18,-84.53,
697,Vaini,TO,71.60,few clouds,-21.20,-175.20,
702,Bethel,US,73.99,clear sky,41.37,-73.41,
...,...,...,...,...,...,...,...
2063,Okhansk,RU,74.07,broken clouds,57.72,55.39,
2064,Kita,ML,84.79,clear sky,13.03,-9.49,
2066,Tabuk,PH,72.79,overcast clouds,17.42,121.44,
2067,Buta,CD,71.85,light rain,2.79,24.73,
2069,Road Town,VG,84.20,scattered clouds,18.42,-64.62,

In [27]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except (IndexError):
        print("Hotel not found... skipping.")
    
    
    

    # 6c. Get latitude and longitude from DataFrame

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [30]:
#hotelmask
hotel_mask = hotel_df["Hotel Name"] == ""
#print(hotel_mask.index)

Int64Index([ 690,  693,  696,  697,  702,  705,  714,  715,  716,  717,
            ...
            2054, 2055, 2058, 2059, 2060, 2063, 2064, 2066, 2067, 2069],
           dtype='int64', length=580)

In [32]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df[~hotel_mask]


#clean_hotel_df = hotel_df.drop(hotelmask.index==False) #aternaitive
#clean_hotel_df

print(clean_hotel_df.index)

Int64Index([ 690,  693,  696,  697,  702,  705,  714,  715,  716,  717,
            ...
            2053, 2054, 2055, 2058, 2060, 2063, 2064, 2066, 2067, 2069],
           dtype='int64', length=526)

In [33]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 11a. Add a marker layer for each city to the map. 
# Add a heatmap of temperature for the vacation spots.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
#             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
#fig.add_layer(heat_layer)
fig.add_layer(marker_layer)



# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))